<div id = "fancy">
	<%=answer%><br>
</div>

<div id = "box">
	<table width = 100%>
		<th>First</th>
		<th>Last</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
		<th>Phone</th>
		<%phone_book.each do |row|%>
		<tr>
			<%row.each do |item|%>
				<td><%=item%></td>
			<%end%>
		</tr>
			<%end%>
	</table>
		<form method= "post" action="retry">
			<input type = "submit" value="Retry">
		</form>
</div>

