Please enter your information

<form method = "post" action = "got_info">
	<input type = "text" name = "info[]" placeholder="First Name" required>
	<input type = "text" name = "info[]" placeholder="Last Name" required><br>
	<input type = "text" name = "info[]" placeholder="Street Address" required>
	<input type = "text" name = "info[]" placeholder="City" required><br>
	<input type = "text" name = "info[]" placeholder="State" required
	minlength="2" maxlength="2">
	<input type = "text" name = "info[]" placeholder="Zip Code" required 
	minlegnth ="5" maxlength = "5"><br>
	<input type = "text" name = "info[]" placeholder="Phone Number" required
	minlength="10" maxlength="10">
	<input type = "submit" value = "enter">
</form>

<form method = "post" action = "search">
	<input type = "text" name = "lname" placeholder="Last Name Search">
	<input type = "text" name = "phone" placeholder="Phone # search">
	<input type = "submit" value = "search">
</form>