Please enter your information

<form method = "post" action = "got_info">
	<input type = "text" name = "fname" placeholder="First Name" required>
	<input type = "text" name = "lname" placeholder="Last Name" required><br>
	<input type = "text" name = "address" placeholder="Street Address" required>
	<input type = "text" name = "city" placeholder="City" required><br>
	<input type = "text" name = "state" placeholder="State" required>
	<input type = "text" name = "Zip" placeholder="Zip Code" required><br>
	<input type = "text" name = "phone" placeholder="Phone Number" required>
	<input type = "submit" value = "enter">
</form>