
login
<form method = "post" action = "login">
<input type = "text" name = "username" placeholder="username">
<input type = "password" name = "password" placeholder="password">
<input type = "submit" value = "enter">
</form>

<form>
<input type = "submit" value = "CREATE LOGIN">
</form>

