<form method = "post" action = "made_login">
	<input type = "text" name = "user" minlength = "6" maxlength="12" required>
	<input type = "password" name = "pass" minlenght = "6" maxlength="12" required>
	<input type = "submit" value = "ENTER">
</form>